
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color:#1a1811c7;
}

/* Header */
header{
    height:543px;
    
    
}

.barranav{
    background-color: white;
    height: 14vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}  

figure{
    display: inline;
}

.logo{
    display: inline-block;
    height: 15vh;
    width: fit-content;
    /* background-color: rgb(177, 55, 55); */
    padding-left: 23px;
    /* border: 1px black solid; */
 }
 
 
 
 nav{
    display:inline-flex;
    width: 616px;
     /* background-color: blue; */
    font-family: 'Roboto', sans-serif;
    height: auto;
    justify-content: center;  
 }


 
 a{
     display: inline-block; 
     /* margin-top: 4px;
     padding: 5px 18px; */
     color: #63a69a;
     font-size: 18px;
     margin-left: 15px;
     text-decoration: none;
    }
    .link{
        color: #F2D230;  
    }
    a:hover{
        transform:scale(1.1);
        text-decoration: underline;
    }

    
.banner{
    width: 100%;
    z-index: -1;
    height: 500px;
    object-fit: cover;    
    filter: brightness(70%);
    min-height: 87vh;
}

h1{
    position:absolute;
    top:209px;
    font-size: 55px;
    color: #F2D230;
    -webkit-text-stroke: 1px #D98D30;
    text-shadow: -4px 3px 1px #63A69A;
    display:block;
    padding: 0px 0px 10px 50px;
    font-family: 'Oswald', sans-serif;
    background-color:#ffffffbd;
    padding-right: 20px;
    z-index: +1;
}
h1:hover{
    transform: translateX(2px) scale(1.1);
}

/* Main */
main{
    height:auto;
}
section{
    height: auto;
    width: auto;
    background-color: #f2d230b3;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.subtitulo{
    height: 48px;
}
h2{
    background-color: white;
    text-align: center;
    display: block;
    font-size: 20px;
    width: 100%;
    padding: 12px;
   
    z-index: 1;
    /* position:relative;
    top:-148px; */
    }


.content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-evenly;
    margin: 10px 20px;
}

.game{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-evenly;
    margin: 10px 20px;
}
.subtitcentrado{
    text-align: center;
    padding-top: 10px;
}
.flecha{
    display:inline-block;
    position: relative;
    right: 395px;
    top:17px;
}
.subtitside{
    text-align:left;
    padding: 10px 18px;
    text-decoration: underline;
    font-style: italic;
    width: 75%;
    text-indent: 0%;
}

.rules{
    text-align:justify;
    padding: 10px 16px;
}
.texto{
    /* background-color: rgb(225, 255, 0); */
    padding: 30px 25px;
    margin-top: 0;
    max-width: 590px;
}
article{
    padding: 10px 0px;
}
p{
    text-indent: 15px;
    padding: 5px 0px 10px;
    /* display:inline-block; */
    width: 100%;
}

.mailto{
    display: inline;
    padding: 0px;
    margin: 0;
    text-decoration: underline;
    color: #D98D30;
    /* background-color: transparent ;   */
    /* border: transparent 1px solid; */
    font-size: 15px;
}

.imgbody img{
    height: 200px;
    margin: 15px 10px;
}

.info{
    width: 75% ;
    justify-content: center;
}
.info p{
    text-indent: 0%;
}
.imggame{
    width: 75% ;
    justify-content: center;
    display: inline-flex;
    margin: 18px 0px 38px 0px;
}

/* Listas -------------------------*/
ul,ol {
    list-style-position: inside;
    font-weight:bold ;
    line-height: 1.5;
  }

span{
    font-weight: normal;
}
li{
    padding-top: 15px;
   
}


.listaabc{
    list-style: lower-alpha;
    list-style-position: inside;
    line-height: 0.5;
    text-indent: 15px;
}

.listacirculo li{    
    list-style: circle;
    text-indent: 15px;
    margin-right: 5px;
    list-style-position: inside;
}

/* Tablas -------------------------------*/

table{
    table-layout: fixed;
    width: 75%;
    border-collapse: collapse;
    /* border: 3px solid purple; */
    text-align: center;
    margin: 10px 0px;;
}
thead th:nth-child(1) {
    width: 20%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 30%;
  }
  
  thead th:nth-child(4) {
    width: 20%;
  }
  
  th, td {
    padding: 11px;
  }
  thead th {
    font-weight: bold;
    font-size: 16px;
  }

.tel{
float: right;
width: 50%;
}
.mail{
float: left;
width: 50%;
}

/* aside */
aside{
    height: 50px;
    background-color: #1a1811c7;
}

.asidenav{
    display: flex;
    justify-content: center;
    align-items: center;
    /* top:-10px;       
    right: -320px; */
    height: 47px;   
    font-size: 15px;     
}
/* Footer */
footer{
    text-align: center;
    height: 75px;
    background-color: white;
    padding: 18px;
    color: #63A69A;
}



