/* la ubicación de los elementos fue realizada con referencia a una pantalla de 
1000px de ancho aproximadamente, en navegador Chrome (originalmente la realicé en Opera GX, pero
toma un ancho mayor de pantalla y en Chrome se cambiaban los elementos de lugar, así que lo modifiqué 
acorde a Chrome). */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color:#1a1811c7;
}

/* Header */
header{
    height:543px;
    
    
}

.barranav{
    background-color: white;
    height: 15vh;
    display: flex;
    justify-content: space-between;
}  

figure{
    display: inline;
}

.logo{
    display: inline-block;
    height: 15vh;
    width: fit-content;
    background-color: rgb(177, 55, 55);
    /* border: 1px black solid; */
 }
 
 
 
 nav{
     display: inline;
     width: 377px;
     background-color: blue;
     
     font-family: 'Roboto', sans-serif;
    
     height: 15px;
     
 }


 
 a{
     display: inline-block;
     height: 36px;  
     margin-top: 18px;
     padding: 5px 18px;
     color: #63a69a;
     font-size: 20px;
     margin-left: 5px;
     text-decoration: none;
    }
    
.banner{
    width: 100%;
    z-index: -1;
    height: 500px;
    object-fit: cover;    
    filter: brightness(70%);
}

h1{
    position:absolute;
    top:209px;
    font-size: 55px;
    color: #F2D230;
    -webkit-text-stroke: 1px #D98D30;
    text-shadow: -4px 3px 1px #63A69A;
    display:block;
    padding: 0px 0px 10px 50px;
    font-family: 'Oswald', sans-serif;
    background-color:#ffffffbd;
    padding-right: 20px;
    z-index: +1;
}
h1:hover{
    transform: translateX(2px);
    scale: 1.1;
}

/* Main */
main{
    height:auto;
}
section{
    height: auto;
    width: auto;
    background-color: #f2d230c7;
}


/* aside */
aside{
    height: 50px;
}
/* Footer */
footer{
    height: 25px;
}



