*{
margin: 0;
padding:0;
box-sizing: border-box;

}

.img{
    display: none;
}

.banner{
    width: 100%;
}

h1{
    position:absolute;
    top:161px;
    font-size: 100 !important;
    text-align: center;
    background-color: blueviolet;
    display:inline-block !important;
    padding-left: 50px;
}

.logo{
   position: absolute;
   top: 660px;
   right: 16%;
   height:100px;
   background-color: white;
   border: 1px black solid;
}



nav{
    display: inline-block;
    width: 160px;
    /* background-color: blue; */
    position:relative;
    top:-33px;
}

a{
    display: block;
    height: 50px; 
    /* background-color: blue;   */
    margin-top: 20px;
    padding: 26px;
   }
   

h2{
color: white;
background-color: black;
text-align: center;
display: inline-block;
width: 100%;
padding: 10px;
}

p{
    text-indent: 15px;
    padding: 5px 0px 10px;
}


.texto{
    display:inline-block;
    width: 854px;
    /* background-color: rgb(225, 255, 0); */
    padding: 20px;
    margin-top: 0;
    position: relative;
    top: 16px;;
}

