*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    }
    
    .img{
        display: none;
    }
    
    .banner{
        width: 100%;
        z-index: -1;
        position: relative;
        height: 684px;
        object-fit: cover;
        top:109px;
    }
    
    /* header{
        background-color: rgba(91, 95, 22, 0.751);
        
    } */
    
    h1{
        position:absolute;
        top:0px;
        font-size: 70px;
        color: #F2D230;
        -webkit-text-stroke: 1px #D98D30;
        text-shadow: -4px 3px 1px #63A69A;
        display:block;
        padding-left: 50px;
        font-family: 'Oswald', sans-serif;
        background-color:white;
        padding-right: 20px;
    }
    
    .logo{
       position: absolute;
       top: 660px;
       right: 16%;
       height:100px;
       background-color: white;
       border: 1px black solid;
    }
    
    
    
    nav{
        display: inline;
        width: 377px;
        /* background-color: blue; */
        position:absolute;
        top:75px;
        font-family: 'Roboto', sans-serif;
        right: 4px;
        height: 15px;
        
    }

    .nav-about{
        display: inline-block;
        width: 160px;
        /* background-color: blue; */
        position:relative;
        top:-82px;
        font-family: 'Roboto', sans-serif;
    }
    
    a{
        display: inline-block;
        height: 36px; 
        background-color: blue;  
        margin-top: 18px;
        padding: 5px 18px;
        border: black 1px solid;
        color: white;
        text-decoration: none;
        font-size: 20px;
        margin-left: 5px;
       }
       
    .link{

    }
    
    h2{
    color: white;
    background-color: black;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    position:relative;
    top:106px;
    }
    
    p{
        text-indent: 15px;
        padding: 5px 0px 10px;
        font-family: 'Roboto', sans-serif;
        display:inline-block;
        width: 100%;
    }
    
    
    .texto{
        display:inline-block;
        width: 854px;
        /* background-color: rgb(225, 255, 0); */
        padding: 20px;
        margin-top: 0;
        position: relative;
        font-family: 'Roboto', sans-serif;
        right: 0px;
        top:0px;
        left:13px;
    }
    
    .texto-home{
        display:inline-block;
        width: 854px;
        /* background-color: rgb(225, 255, 0); */
        padding: 20px;
        margin-top: 0;
        position: relative;
        font-family: 'Roboto', sans-serif;
        right: 0px;
        top:2px;
        left:13px;
    }
    .texto-contacto{
        display:inline-block;
        width: 854px;
        /* background-color: rgb(225, 255, 0); */
        padding: 20px;
        margin-top: 0;
        position: relative;
        font-family: 'Roboto', sans-serif;
        right: -160px;
        top:-187px;
        left:161px;
    }
    .mailto{
        display: inline;
        padding: 0px;
    }